<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Management System</title>
</head>
<body>
<h1>Bank Management System</h1>
<!-- you can do this regularly? and not use # i.e. set a session object and stuff and not use model attribute-->
<form action="#" th:action="@{./userLoginPage}" th:object="${customer}" th:method="post"> <!-- this method needs to be post otherwise the password will be in the request -->
		Enter Account ID: <input type="text" th:field="*{accountId}"><br><br>
		Enter Password: <input type="password" th:field="*{userPassword}"> <!-- input type password creates a hidden field i.e. the input is dots when u typed, not shown on screen -->
		<input type="submit" value="Login">
</form>
<br><br>
<h2 th:text="${message}" style="color: red"></h2>
</body>
</html>